#cartitem1{
    border-width:1px;
    border-color:blue;
    border-style:solid;
    margin:5px;
    text-align:center;
}
#cartitem2{
    border-width:1px;
    border-color:blue;
    border-style:solid;
    margin:5px;
    text-align:center;
}
#cartitem3{
    border-width:1px;
    border-color:blue;
    border-style:solid;
    margin:5px;
    text-align:center;
}
#checkoutmenu {
    text-align:center;
   
}
#cartitem4{
    border-width:1px;
    border-color:blue;
    border-style:solid;
    margin:5px;
    text-align:center;
}
#cartpage{
    text-align:center;
}